# Import Libraries

In [36]:
 

import math
import matplotlib.pyplot as plt
import numpy as np
from numpy.random import seed
seed(1)
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import tensorflow
tensorflow.random.set_seed(1)
from tensorflow.keras.layers import Dense, Activation,BatchNormalization
from tensorflow.keras.layers import Dropout
from tensorflow.keras.models import Model,Sequential
# from tensorflow.python.keras.wrappers.scikit_learn import KerasRegressor
from tensorflow.keras.optimizers import Adam

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Data Loading

In [37]:
train_df = pd.read_csv('sleep_data.csv')
a=train_df.head()
b=train_df
b

         Age  Gender          SleepHour WorkingAdditionalHour   Stressed
0    18 - 30  Female          6-7 hours            5-10 hours     Rarely
1    18 - 30    Male          6-7 hours     less than 5 hours  Sometimes
2    18 - 30    Male          6-7 hours            5-10 hours  Sometimes
3    18 - 30  Female         4-6  hours     less than 5 hours  Sometimes
4    18 - 30  Female         4-6  hours            5-10 hours  Sometimes
..       ...     ...                ...                   ...        ...
388   31- 45    Male         4-6  hours            5-10 hours  Sometimes
389  18 - 30    Male         4-6  hours           10-15 hours  Sometimes
390  18 - 30    Male         4-6  hours            5-10 hours  Sometimes
391  18 - 30    Male  More than 7 hours     less than 5 hours     Rarely
392  18 - 30    Male          6-7 hours     less than 5 hours     Rarely

[393 rows x 5 columns]

# Categorical variables

In [38]:
Age = train_df.Age.astype("category").cat.codes
Age=pd.Series(Age)

Gender= train_df.Gender.astype("category").cat.codes
Gender=pd.Series(Gender)

SleepHour= train_df.SleepHour.astype("category").cat.codes
SleepHour=pd.Series(SleepHour)

WorkingAdditionalHour= train_df.WorkingAdditionalHour.astype("category").cat.codes
WorkingAdditionalHour=pd.Series(WorkingAdditionalHour)

Stressed= train_df.Stressed.astype("category").cat.codes
Stressed=pd.Series(Stressed)

# Categorical representation

In [39]:
Age = dict(enumerate(train_df.Age.astype("category").cat.categories))
print (Age)

{0: '18 - 30', 1: '31- 45', 2: '46 - 60'}

In [40]:
Gender = dict(enumerate(train_df.Gender.astype("category").cat.categories))
print (Gender)

{0: 'Female', 1: 'Male'}

In [41]:
SleepHour = dict(enumerate(train_df.SleepHour.astype("category").cat.categories))
print (SleepHour)

{0: '4', 1: '4-6  hours', 2: '6-7 hours', 3: 'Less than 4 hours', 4: 'More than 7 hours'}

In [42]:
WorkingAdditionalHour = dict(enumerate(train_df.WorkingAdditionalHour.astype("category").cat.categories))
print (WorkingAdditionalHour)

{0: '10-15 hours', 1: '5-10 hours', 2: 'less than 5 hours', 3: 'more than 15'}

In [43]:
Stressed = dict(enumerate(train_df.Stressed.astype("category").cat.categories))
print (Stressed)

{0: 'Always', 1: 'Never', 2: 'Rarely', 3: 'Sometimes', 4: 'Very Often'}

In [44]:
age_encoding = {
    '18 - 30': 0,
    '31- 45': 1,
    '46 - 60': 2 
}

In [45]:
gender_encoding = {
    'Female': 0,
    'Male': 1 
}

In [46]:
sleepHour_encoding = {
    '4': 0,
    '4-6  hours': 1,
    '6-7 hours': 2,
    'Less than 4 hours': 3,
    'More than 7 hours': 4
}

In [47]:
working_encoding = {
    '10-15 hours': 0,
    '5-10 hours': 1,
    'less than 5 hours': 2,
    'more than 15': 3,
}

In [48]:
stressed_encoding = {
    'Always': 0,
    'Never': 1 ,
    'Rarely': 2 ,
    'Sometimes': 3 ,
    'Very Often': 4 ,
}

In [49]:
train_df['Age'] = train_df['Age'].map(age_encoding)

In [50]:
train_df['Gender'] = train_df['Gender'].map(gender_encoding)

In [51]:
train_df['SleepHour'] = train_df['SleepHour'].map(sleepHour_encoding)

In [52]:
train_df['WorkingAdditionalHour'] = train_df['WorkingAdditionalHour'].map(working_encoding)

In [53]:
train_df['Stressed'] = train_df['Stressed'].map(stressed_encoding)

In [54]:
train_df.to_csv("sleep_data_processed.csv",index=False)

In [55]:
train_df = pd.read_csv("sleep_data_processed.csv")

In [56]:
train_df

     Age  Gender  SleepHour  WorkingAdditionalHour  Stressed
0      0       0          2                      1         2
1      0       1          2                      2         3
2      0       1          2                      1         3
3      0       0          1                      2         3
4      0       0          1                      1         3
..   ...     ...        ...                    ...       ...
388    1       1          1                      1         3
389    0       1          1                      0         3
390    0       1          1                      1         3
391    0       1          4                      2         2
392    0       1          2                      2         2

[393 rows x 5 columns]